<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<%= link_to 'Edit this article', edit_article_path(@article), class: "btn btn-primary" %>

<%= link_to 'Delete',
  article_path(@article), class: "btn btn-primary",
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to 'Back to articles', articles_path, class: "btn btn-primary" %>
